In [ ]:
# Q1 Explain with an example each when to use a for loop and a while loop.

In [1]:
# For loops are generally used when you know how many times you need to loop through a block of code, whereas while loops are used when you don't know how many times you need to loop.
#example

l1 = [1,2,3,4,5]

for i in l1 :
    print(i)

1
2
3
4
5

In [ ]:
# Q2 Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

In [5]:
sum = 0 
for i in range(0, 11): 
    sum += i 
print(sum)

55

In [7]:
mul = 1 
for i in range(1, 11): 
    mul *= i 
print(mul)

3628800

In [3]:
sum = 0 
i = 1
while(i < 11): 
    sum += i 
    i+= 1
print(sum)

55

In [8]:
mul = 1
i = 1
while(i < 11): 
    mul *= i 
    i+= 1
print(mul)

3628800

In [ ]:
# q3 : Create a python program to compute the electricity bill for a household.
# The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per 
# unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
# be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
# You are required to take the units of electricity consumed in a month from the user as input.
# Your program must pass this test case: when the unit of electricity consumed by the user in a month is
# 310, the total electricity bill should be 2250.

In [16]:
n = int(input())
if (n>300):
    print(((n-300) * 20) +2050)
elif(n<=300 and  n>200):
    print(((n-200)* 10)+1050)
elif(n<=200 and n>100):
    print(((n-100)*6) + 450)
else:
    print(n*4.5)

 310

2250

In [ ]:
# q4 : Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
# number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
# that list.

In [29]:
l = []
for i in range(1,101):
    rough = (i**3) if ((i ** 3) % 4 == 0 or (i ** 3) % 5 == 0) else 0
    if rough:
        l.append(rough)

In [30]:
l

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [34]:
i = 1
l1 = [] 
while i <= 100:
    if ((i ** 3) % 4 == 0 or (i ** 3) % 5 == 0):
        l1.append(i**3)
    i+=1

In [35]:
l1

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [ ]:
# Q5. Write a program to filter count vowels in the below-given string.
# string = "I want to become a data scientist"

In [36]:
l2 = "I want to become a data scientist"

In [40]:
list(filter(lambda x: x in ["a","e","i","o","u"],l2))

['a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']

In [41]:
len(list(filter(lambda x: x in ["a","e","i","o","u"],l2)))

11