In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
A database is a structured collection of data that is organized and stored in a way that makes it easy to 
manage, retrieve,and update.
SQL: SQL databases are relational databases, which means they use a structured schema and organize data
into tables with predefined columns.Tables are related to each other through predefined relationships.
SQL databases use the Structured Query Language (SQL) for defining and manipulating the data
ex MySQL, PostgreSQL, Oracle Database

In [ ]:
NOSQL: NoSQL databases can be either document-oriented, key-value pairs, wide-column stores, or graph databases.
They are designed to handle unstructured or semi-structured data.
NoSQL databases use various query languages, depending on the database type. Examples include MongoDB's query language for document
databases or Cassandra Query Language
EX: MongoDB, Cassandra,

In [ ]:
Q2: What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
DDL stands for Data Definition Language, and it is a subset of SQL (Structured Query Language) that deals
with the definition and structure of the database objects. DDL commands allow you to define, modify,
and remove the structure of database objects like tables, indexes, and schemas. The main DDL commands
include CREATE, DROP, ALTER, and TRUNCATE.

In [ ]:
# CREATE:Used to create a new database object like a table, view, index, or schema.
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    HireDate DATE
);

In [ ]:
DROP:Used to remove a database object like a table, view, index, or schema.
DROP TABLE Employees;

In [ ]:
ALTER:Used to modify the structure of an existing database object, such as adding, modifying, or dropping 
columns in a table.
ALTER TABLE Employees
ADD COLUMN Email VARCHAR(100);

TRUNCATE: Used to remove all records from a table, but it retains the table structure for future use.
TRUNCATE TABLE Employees;

In [ ]:
Q3 : What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
DML stands for Data Manipulation Language, and it is a subset of SQL (Structured Query Language) that 
deals with the manipulation of data stored in a database. DML commands allow you to insert, update, and
delete records in a database. The main DML commands include INSERT, UPDATE, and DELETE.

In [ ]:
INSERT: Adds new records to a table.

Example: INSERT INTO table_name (column1, column2, column3, ...) VALUES (value1, value2, value3, ...);
UPDATE: Modifies existing records in a table.

Example: UPDATE table_name SET column1 = value1 WHERE some_column = some_value;
DELETE: Removes records from a table.

Example: DELETE FROM table_name WHERE some_column = some_value;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

In [ ]:
DQL (Data Query Language): DQL is a subset of SQL (Structured Query Language) that focuses on querying data 
from a database. The primary DQL command is SELECT, which retrieves data from one or more tables.
SELECT * FROM Employees;
SELECT EmployeeID, FirstName, LastName
FROM Employees
WHERE Department = 'IT'
ORDER BY LastName;

In [ ]:
Q5. Explain Primary Key and Foreign Key.

In [ ]:
Primary Key:
A primary key is a field or combination of fields that uniquely identifies each record in a table.
It must contain unique values, and it cannot have NULL values.
Primary keys are used to establish relationships between tables.

Foreign Key:
A foreign key is a field in a table that is a primary key in another table.It establishes a link between the
two tables, creating a relationship.It ensures referential integrity by preventing actions that would 
destroy the relationships between tables.

In [ ]:
Q6. Write a Python code to connect MySQL to Python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
# import mysql.connector used to run sql on python or connecting sql to python 
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

In [ ]:
cursor() Method:
The cursor() method is called on a database connection object to create a cursor.
A cursor allows you to execute SQL queries and fetch results from the database.

execute() Method:
The execute() method is used to execute an SQL query.
It takes the SQL query as a parameter and sends it to the database for execution.
After execution, the results (if any) can be retrieved.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
The order of execution of SQL clauses in a SELECT statement is as follows:

FROM: Specifies the table or tables from which to retrieve the data.
WHERE: Filters the rows based on a specified condition.
GROUP BY: Groups the rows that have the same values in specified columns into summary rows.
HAVING: Filters the results of the GROUP BY clause based on a specified condition.
SELECT: Specifies the columns to be retrieved.
DISTINCT: Removes duplicate rows from the result set.
ORDER BY: Sorts the result set based on specified columns.
LIMIT/OFFSET: Limits the number of rows returned or skips a specified number of rows.