In [ ]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple

In [4]:
a = "Hi i am pw student"
b = [1,2,3,5,6,]
Float = 1.23
tuple =("Geeks", "for", "Geeks")

In [5]:
variable = variable = "Hi i am pw student",[1,2,3,5,6,],1.23,("Geeks", "for", "Geeks")
print(variable)

('Hi i am pw student', [1, 2, 3, 5, 6], 1.23, ('Geeks', 'for', 'Geeks'))

In [ ]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.
# What will be the data type of the above given variable.

In [9]:
var1 = ''
var2 = '[DS,ML,Python]'
var3 = ['DS','ML','Python']
var4 = 1.

In [11]:
type(var1)

str

In [12]:
type(var2)

str

In [13]:
type(var3)

list

In [14]:
type(var4)

float

In [ ]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

In [5]:
# / is a float division
print(14/70)
#/ % is modulus return remaineder 
print(11%2)
# // floor division 
print(10//3)
# ** power 

print(2**2)

0.2
1
3
4

In [ ]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

In [13]:
l = [1,"harry",1.55,6,True,'avi']

In [14]:
for i in l:
    print(i)
    print (type(i))

1
<class 'int'>
harry
<class 'str'>
1.55
<class 'float'>
6
<class 'int'>
True
<class 'bool'>
avi
<class 'str'>

In [ ]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

In [5]:
a = 122
b = 2
c == a/b
while a/b :
    print(c)

NameError: name 'c' is not defined

In [ ]:
# Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

In [11]:
l1 = []
for i in range(0,25):
    print(i)
    if i%3 == 0:
        print("divisible by 3")
    else:
        print("not devisible")

0
divisible by 3
1
not devisible
2
not devisible
3
divisible by 3
4
not devisible
5
not devisible
6
divisible by 3
7
not devisible
8
not devisible
9
divisible by 3
10
not devisible
11
not devisible
12
divisible by 3
13
not devisible
14
not devisible
15
divisible by 3
16
not devisible
17
not devisible
18
divisible by 3
19
not devisible
20
not devisible
21
divisible by 3
22
not devisible
23
not devisible
24
divisible by 3

In [ ]:
# What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

In [ ]:
mutable:  mutable data type are those object which we can mutate or change and make changes in these data type 
examples : list, Dictonary, set
immutable : these are data type in which we can not change data 
example : tupple,int str,float