In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [3]:
Q1. Write a code to print the data present in the second row of the dataframe, df.

SyntaxError: invalid syntax (589574489.py, line 1)

In [4]:
second_row_data = df.loc[1]
print(second_row_data)

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [5]:
Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Object `pandas.DataFrame` not found.

In [6]:
loc is label-based indexing, meaning that you use the labels (column names and row indices) to select data.
iloc is integer-location based indexing, meaning that you use integer indices to select data.

SyntaxError: invalid syntax (3837883022.py, line 1)

In [7]:
Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.

SyntaxError: invalid syntax (153861841.py, line 1)

In [8]:
new_df = df.reindex([3,0,1,2])

In [9]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [10]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [11]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [12]:
iloc takes ibilt index or default indexes loc take index which it  can see or named

SyntaxError: invalid syntax (1495956343.py, line 1)

In [13]:
# Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [14]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.251316  0.352431  0.472011  0.279258  0.293225  0.560776
2  0.983370  0.406045  0.350717  0.550620  0.541589  0.988729
3  0.989240  0.468168  0.791506  0.379862  0.504707  0.676056
4  0.116468  0.719557  0.020223  0.964479  0.339541  0.901226
5  0.445730  0.368097  0.879883  0.144045  0.846722  0.527878
6  0.925020  0.081256  0.265181  0.840766  0.477718  0.558896

In [15]:
Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

SyntaxError: invalid character '‘' (U+2018) (2077217310.py, line 3)

In [16]:
# (i) mean of each and every column present in the dataframe.

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

column_means = df1.mean(axis=0)
print(column_means)

column_1    0.511626
column_2    0.392394
column_3    0.352782
column_4    0.306253
column_5    0.665166
column_6    0.561407
dtype: float64

In [17]:
# (ii) standard deviation of column, ‘column_2’
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

column_means = df1.std(axis=0)
print(column_means)

column_1    0.261375
column_2    0.283535
column_3    0.409430
column_4    0.265314
column_5    0.296390
column_6    0.192359
dtype: float64

In [18]:
Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.

SyntaxError: invalid character '‘' (U+2018) (3699745433.py, line 1)

In [19]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

df1.loc[2, 'column_2'] = 'string_variable'

column_2_mean = df1['column_2'].mean()
df1

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
This error occurs because the 'column_2' data type is no longer consistent and Pandas cannot perform numeric operations
like calculating the mean on a column with a mix of data types.

In [ ]:
Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In [ ]:
In Pandas, window functions are used for performing operations on a specified window of data in a rolling or expanding fashion

In [ ]:

In Pandas, window functions are used for performing operations on a specified window of data in a rolling or expanding fashion. These functions are especially useful for time-series data and can provide insights into trends, patterns, and rolling statistics. The concept of windows involves moving a window (a subset of data) across the dataset and applying a function to the data within that window.

mean(): Calculates the mean of values in the window.
sum(): Calculates the sum of values in the window.
std(): Calculates the standard deviation of values in the window.
min(): Calculates the minimum value in the window.
max(): Calculates the maximum value in the window.
count(): Counts the number of non-null values in the window.
corr(): Calculates the correlation between two windows.

In [ ]:
Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [21]:
import pandas as pd
from datetime import datetime

# Get the current date and time
current_date_time = datetime.now()

# Extract the current month and year
current_month_year = pd.to_datetime(current_date_time).strftime('%B %Y')

# Print the result
print("Current month and year:", current_month_year)

Current month and year: December 2023

In [ ]:
Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [22]:
import pandas as pd

def calculate_time_difference(date1, date2):
    # Convert input strings to Pandas datetime objects
    date1 = pd.to_datetime(date1, format='%Y-%m-%d')
    date2 = pd.to_datetime(date2, format='%Y-%m-%d')

    # Calculate time difference
    time_difference = date2 - date1

    # Extract days, hours, and minutes
    days = time_difference.days
    hours, remainder = divmod(time_difference.seconds, 3600)
    minutes, _ = divmod(remainder, 60)

    return days, hours, minutes

# Prompt user for input
date_str1 = input("Enter the first date (YYYY-MM-DD): ")
date_str2 = input("Enter the second date (YYYY-MM-DD): ")

# Calculate time difference
days_diff, hours_diff, minutes_diff = calculate_time_difference(date_str1, date_str2)

# Display the result
print("\nTime Difference:")
print(f"Days: {days_diff} days")
print(f"Hours: {hours_diff} hours")
print(f"Minutes: {minutes_diff} minutes")

Enter the first date (YYYY-MM-DD):  2022-02-02
Enter the second date (YYYY-MM-DD):  2023-02-02

Time Difference:
Days: 365 days
Hours: 0 hours
Minutes: 0 minutes

In [ ]:
Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

def convert_to_categorical(file_path, column_name, category_order):
    # Read the CSV file
    df = pd.read_csv(file_path)

    # Convert the specified column to categorical with the given order
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

    # Display the sorted data
    sorted_data = df.sort_values(by=[column_name])
    print("\nSorted Data:")
    print(sorted_data)

# Prompt user for input
file_path = input("Enter the CSV file path: ")
column_name = input("Enter the column name to convert to categorical: ")
category_order = input("Enter the category order (comma-separated): ").split(',')

# Convert to categorical and display sorted data
convert_to_categorical(file_path, column_name, category_order)

Enter the CSV file path:  "D:\pw datab science\taxonomy.csv.xls"

In [ ]:
Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.
Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.
Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.