In [1]:
# Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [15]:
import pandas as pd
d =['4','8','15','16','23','42']
Data = pd.Series(d)
Data

0     4
1     8
2    15
3    16
4    23
5    42
dtype: object

In [16]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# # variable print it.

In [22]:
Variable = [5,6,8,9,9,1,0,"hi","go","no"]
Data = pd.Series(Variable)
print(Data)

0     5
1     6
2     8
3     9
4     9
5     1
6     0
7    hi
8    go
9    no
dtype: object

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:

In [26]:
Df = {'Name':['Alice','Bob','claire'],
     'Age':[25,30,27],
     'Gender':['Female','male','female']}
pd.DataFrame(Df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    male
2  claire   27  female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
In pandas, a DataFrame is a two-dimensional labeled data structure that is widely used for data manipulation and analysis.
On the other hand, a pandas Series is a one-dimensional labeled array. It can be thought of as a single column of a DataFrame.
Series ex :
Variable = [5,6,8,9,9,1,0,"hi","go","no"]
Data = pd.Series(Variable)
print(Data)
DF ex:
Df = {'Name':['Alice','Bob','claire'],
     'Age':[25,30,27],
     'Gender':['Female','male','female']}
pd.DataFrame(Df)

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [ ]:
pd.read_csv(): Read data from a CSV file.
pd.read_excel():Read data from an Excel file.
df.head(n): Display the first n rows of the DataFrame.
df.tail(n): Display the last n rows of the DataFrame.
df.sort_values(by='column'): Sort DataFrame by values in a specific column.
df.sort_index(): Sort DataFrame by index.
df.dropna(): Drop rows with missing values.
pd.concat()

In [ ]:
df1 = pd.read_csv('taxonomy.csv')  
# ex

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
In pandas, both Series and DataFrame are mutable, meaning you can modify their contents after creation.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [27]:
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
cities = pd.Series(['New York', 'San Francisco', 'Los Angeles'])

data = {'Name': names, 'Age': ages, 'City': cities}
df = pd.DataFrame(data)

print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles